@import "./variables";

.input {
    @include column;

    label {
        color: $label-color;
        font-size: 12px;
        font-weight: $light;
        text-align: left;
    }

    input,
    .input__field {
        font-size: 14px;
        color: $text-color;
        border-bottom: 1px solid $fill-color;
        padding-top: 2px;
        padding-bottom: 3px;

        &:focus,
        &:focus-visible {
            outline: none;
        }
    }

    &__error {
        color: $error-color;
        font-size: 13px;
        margin-top: 4px;
        display: none;

        &.show {
            display: inline-block;
        }
    }
}
