@use './variables.scss';


.profile {
    width: 530px;
    max-width: calc(100% - 65px);
    margin-left: 65px;
    padding: 0 20px;

    &__avatar {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    &__title {
        display: flex;
        justify-content: center;
        font-size: 17px;
        font-weight: $bold;
        margin-bottom: 20px;
    }

    &__data {
        opacity: 5;
    }

    &__nav {
        margin-top: 55px;
    }

    .form__row {
        opacity: 7;
    }

    .button-text {
        color: $primary-color;
        background: 0 0;
        justify-content: flex-start;
        padding: 7px 0;
        font-weight: $medium;
        font-size: 15px;
    }

    .change-data {
        opacity: 9;
    }

    .change-password {
        opacity: 10;
    }

    .password {
        opacity: 11;
    }

    .input {
        flex-direction: row;
        border-bottom: 1px solid $fill-color;

        label {
            font-size: 14px;
            color: $black-color;
            font-weight: $medium;
        }
    }

    .input__field {
        margin-left: auto;
        border: none;
        text-align: right;
    }
    
    .popup-toggle {
        background: $fill-color;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        align-items: center;

        .icon {
            font-size: 52px;
            opacity: 0.4;
            color: $label-color
        }
    }

    .data {
        opacity: 15;

        .profile__save {
            display: none;
        }
    }
    
    .button {
        max-width: 300px;
        margin: 50px auto 0;
    }
}

.disabled {
    pointer-events: none;

    input {
        pointer-events: none;
        cursor: default;
    }
}

