*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
button,
input {
    text-decoration: none;
    transition: all 0.3s ease;
}

input,
textarea {
    border: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    outline: none;
}
