@import "https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap";
@import "./reset";
@import "./variables";

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: $fill-color $aside-color;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: $aside-color;
}

*::-webkit-scrollbar-thumb {
    background-color: $fill-color;
    border-radius: 10px;
    border: none;
}

html,
body {
    @include covered;
}

body * {
    font-family: $font, sans-serif;
}

body {
    color: $text-color;
    font-weight: $regular;
    font-size: 14px;
}

.app,
#app {
    @include covered;
    @include centered;

    aside {
        flex-basis: 310px;
        min-width: 310px;
    }

    article {
        flex-basis: calc(100% - 310px);
    }
}

a,
.link {
    color: $primary-color;

    &:hover {
        color: $primary-color-hover;
    }
}

button,
.button {
    &__wrapper {
        margin-top: auto;
        display: flex;
        justify-content: center;
    }

    padding: 12px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $primary-color;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    color: $white-color;

    &:hover {
        background-color: $primary-color-hover;
    }
}

.button-round {
    border-radius: 10px;
}

.button-icon {
    width: 34px;
    height: 34px;
    font-size: 0;
    border-radius: 50%;
    padding: 8px;

    &::before,
    span {
        content: "";
        font-size: 18px;
    }
}

.hidden {
    display: none !important;
}

.button-red {
    color: $error-color !important;
    background-color: transparent;
    padding: 0;
}

.icon {
    font-size: 12px;
    line-height: 1;
}
