---
title: "Настройки"
class: "settings"
name: "Иван"
fields:
  - name: "email"
    label: "Почта"
    type: "email"
    required: "true"
    id: "email"
    value: "pochta@yandex.ru"
  - name: "login"
    label: "Логин"
    type: "text"
    required: "true"
    id: "login"
    value: "ivanivanov"
  - name: "first_name"
    label: "Имя"
    type: "text"
    required: "true"
    id: "first_name"
    value: "Иван"
  - name: "second_name"
    label: "Фамилия"
    type: "text"
    required: "true"
    id: "second_name"
    value: "Иванов"
  - name: "display_name"
    label: "Имя в чате"
    type: "text"
    required: "true"
    id: "display_name"
    value: "Иванов"
  - name: "phone"
    label: "Телефон"
    type: "text"
    required: "true"
    id: "phone"
    value: |-
        +7 (909) 967 30 30
send: "Сохранить"
---
<html>
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="../../styles/styles.scss">
        <script src="./index.js" type="module"></script>
    </head>
    <body>
        <main class="app">
            {{>profile class=class fields=fields send=send}}
        </main>
    </body>
</html>  