<div class="chat">
    <div class="chat__header">
        <div class="chat__info">
            <div class="chat__image"></div>
            <div class="chat__name">Вадим</div>
        </div>  
        {{>dropdown items=user_actions class="more_vert"}}
    </div>
    <div class="chat__body">
        {{#each chat_group}}
            <div class="chat__group">
                <div class="chat__date">{{ this.date }}</div>
                {{#each this.messages}}
                    {{>message position=this.position content=this.content type=this.type time=this.time}}
                {{/each}}
            </div>
        {{/each}}
    </div>
    <div class="chat__add">
        {{>dropdown items=attachments class="attach_file"}}
        <form action="#" name="new-message" class="new-message" method="post">
            <textarea name="message" class="new-message__field" id="message"></textarea>
            <button class="button button-round button-icon new-message__send">
                <span class="icon material-symbols-outlined">send</span>
            </button>
        </form>
    </div>

</div>