<div class="form {{ class }}">
    <div class="form__title">{{ title }}</div>
    <form class="form__form" action="/">
        {{#each fields}}
            <div class="form__row">
                {{>input input=this}}
            </div>
        {{/each}}
        {{>button name=send class='form__send'}}
        <a class="link form__link" href={{ url }}>{{ anchor }}</a>
    </form>
</div>