<div class="profile__nav">
    <div class="input">
        <button class="button-text change-data">Изменить данные</button>
    </div>
    <div class="input">
        <button class="button-text change-password">Изменить пароль</button>
    </div>
    <div class="input">
        <button class="button-text button-red" onclick="window.location = '/login/index.html'">Выйти</button>
    </div>
</div>